* {
    margin : 0 ;
    padding : 0 ;
}

html,body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

a {
    color: black;
}

#contents {
    overflow: hidden;
    height: auto;
    width: 900px;
    margin-top: 10px;
    padding: 0px;
}


#header_area {
    display: block;
    width : 100% ;
    padding: 10px;
    background-color: #bbbbff;
    height: 40px;
}

#msg_area {
    display: block;
    width : 100% ;
    height: 20px;
}

/* original text area */
#src_area {
    margin-left: 0px;
    display: none;
}



/* marked text area */
#doc_area  {
    position: absolute;
    overflow: hidden;

    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: block;
    /*float : left ;*/
    width : 500px ;

    background-color: #cccccc;
    line-height: 220%;
}

#span_measure_area {
    width:100000px;
    top:-1000px;
    position:absolute;
    display:hidden;
    line-height: 140%;
}

#doc_area span {
    border-style: dashed;
    border-color: #999999;
    border-width: thin;
    word-wrap:break-word;
}

/* dummy_spanには幅をもたせない */
#doc_area span.dummy_span {
    border-width: 0;
}

#doc_area span.selected {
    display: inline;
    border-style: solid;
    border-color: #000066;
    border-width: thin;
    /*background-color: #ffFF00;*/
}


#doc_area span.partial {
    display: inline;
    border-style: dashed;
    border-color: #ff0000;
    border-width: 2px 2px 2px 2px;
}

#doc_area span.partialSelected {
    display: inline;
    border-style: solid;
    border-color: #ff0000;
    border-width: 2px 2px 2px 2px;
}

#ins_area {
    font-size: small;
    font-weight: bold;
}

/* annottaion area */
#anno_area {
    position: absolute;

    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */
    left: 530px;

    /*margin-left: 10px;*/

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 230px;
 }

/*relation_area */
#relation_area {
    position: absolute;

    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */
    left: 950px;

    /*margin-left: 10px;*/

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 230px;
}

/*insanns_area */
#insanns_area {
    position: absolute;

    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */
    left: 1370px;

    /*margin-left: 10px;*/

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    /*float: left;*/
    background-color: #cccccc;
    width: 230px;
}

/*insanns_area */
#modanns_area {
    position: absolute;

    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */
    left: 1790px;

    /*margin-left: 10px;*/

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 230px;
}


.tmp_hide {
    opacity: 0.5;
}


/* annotation new button */
#new_btn {
    margin-left: 2px;
}



.btn_area {
    padding-top: 5px;
}

/* annotaion list area */
#anno_list_area {
    display: block;
    overflow: auto;
    /*height: 400px;*/
}

#rel_list_area {
    display: block;
    overflow: auto;
    /*height: 400px;*/
}


.table_header {
    border-collapse: collapse;
    width: 200px;
    background-color: #ffffff;
}

.table_header td {
    width: 50px;
}

/* annotation table */
/*
#anno_new_area table{
      width: 200px;
    font-size: small;
}
*/

#anno_list_area table{
    width: 200px;
    font-size: small;
}


/* annotation list table */
table.annotation tr td {
    width: 50px;
}


table.annotation_text {
    width: 150px;
}


.t_new {
    border-style: dashed;
    border-color: #ffffff;
    border-width: thin;
}



.t_selected {
    border: 1px #000066 solid;
    border-width: 1px 1px 1px 1px;
}

.t_partial {
    border: 1px #ff0000 dashed;
    border-width: 2px 2px 2px 2px;
}

.t_partialSelected {
    border: 1px #ff0000 double;
    border-width: 2px 2px 2px 2px;
}


#rel_list_area table{
    width: 200px;
    font-size: small;
}

/* relationlist table */
table.relation tr td {
    width: 60px;
}


#insanns_list_area table{
    width: 200px;
    font-size: small;
}

/* relationlist table */
table.insanns tr td {
    width: 60px;
}


#modanns_list_area table{
    width: 200px;
    font-size: small;
}

/* relationlist table */
table.modanns tr td {
    width: 60px;
}



#undo_btn {
    cursor: pointer;
    opacity:0.3;
}

#redo_btn {
    cursor: pointer;
    opacity:0.3;
}

#multiple_btn {
    opacity: 0.3;
}


.removeBtn {
    display: none;
}



#notice_area {
    color: #ff0000;
    height: 15px;
}

.error {
    background-color: #ff0000;
}

/* category list */
#category_area {

    position: absolute;
    left: 780px;
    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*margin-left: 10px;*/
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 150px;

    font-size: small;
}

/* category list */
#relcategory_area {

    position: absolute;
    left: 1200px;
    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*margin-left: 10px;*/
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 150px;

    font-size: small;
}

/* category list */
#instype_area {

    position: absolute;
    left: 1620px;
    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*margin-left: 10px;*/
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 150px;

    font-size: small;
}


/* category list */
#modtype_area {

    position: absolute;
    left: 2040px;
    /*
    float: left;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    */

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*margin-left: 10px;*/
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 150px;

    font-size: small;
}

div.instance {
    border-radius: 5px; /* CSS3 */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px;  /* Safari,Chrome */
    border: 2px solid;     /* 枠線の装飾 */
}



#annojson {
    display: none;
}

#save_dialog {
    position: absolute;
    top:80px;
    left:50px;
    display: none;
    width: 520px;
    height: 100px;
    padding: 10px;
    border: 1px #000033 solid;
    border-width: 1px 1px 1px 1px;
    background-color: #ffffff;
}

#save_area {
    margin-top: 20px;
    float: right;
}

#load_dialog {
    position: absolute;
    top:80px;
    left:50px;
    display: none;
    width: 520px;
    height: 100px;
    padding: 10px;
    border: 1px #000033 solid;
    border-width: 1px 1px 1px 1px;
    background-color: #ffffff;
}

#load_area {
    margin-top: 20px;
    float: right;
}

#doc_area span.source_selected {
    display: inline;
    border-style: solid;
    border-color: #0000dd;
    border-width: thin;
}

#my_footer { width : 100% ; clear : both ; }