html, body {
    margin: 0;
    height: 100%;
}

.textae {
    position: relative;
    left: 0px;
    height: 600px;
    border: 1px solid black;
    font-family: verdana, arial, helvetica, sans-serif;
}

.textae-control {
    width: 90%;
    height: 20px;
    border-left: 5px solid #555588;
    opacity: 0.9;

    background-color: #BBBBEE;
    /* fallback (Opera) */
    background: #BBBBEE;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #BBBBEE, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#BBBBEE), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#BBBBEE', EndColorStr='#FFFFFF', GradientType=1);
}

#footer {
    position: absolute;
    bottom: 0px;

    width: 90%;
    height: 20px;
    opacity: 0.9;

    background-color: #DDDDFF;
    /* fallback (Opera) */
    background: #DDDDFF;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #DDDDFF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#DDDDFF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDFF', EndColorStr='#FFFFFF', GradientType=1);
}

#message {
    margin-left: 10px;
    font-style:italic;
    color:gray;
}

#body {
    position: absolute;
    height: 540px;
    margin: 0px 4px;
    overflow-y: scroll;
}

#text_box {
    display: inline;
    line-height: 400%;
    z-index: 255;
}

#annotation_box{
    position: absolute;
    top: 0px;
    left: 0px;
}


.block {
    display: block;
    border-style: solid;
    border-color: #656565;
    border-width: 1px 1px 1px 20px;
    background-color: rgba(255,255,255,0.7);
    margin:2px;
    padding:2px;
}

.block:hover {
    background-color: rgba(245,245,245,0.7);
}

.block.selected {
    background-color: rgba(235,235,235,0.7);
}
.block:before {
    float:left;
    position:absolute;
    margin-left:-11px;
    content: attr(type);
    color: white;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}


.span {
    /*display: inline-block;*/
    display: inline;
    border-style: solid;
    border-color: #656565;
    border-width: 1px 0px 1px 0px;
    background-color: rgba(100,100,215,0.5);
    white-space: pre;
    /*margin-top: 50px;*/
    /*width: 100px;*/
    /*text-align: center;*/
}

.span:hover {
    background-color: #8888CC;
    background-color: rgba(130,130,200,0.7);

}

.span.ui-selected {
    background-color: rgba(55,55,0,0.6);
    color: #DDDDDD;
}

.grid {
    border-width: 0px 1px;
    border-style: solid;
    border-color: #DDDDAA;
    padding: 1px;
    overflow: visible;
}

.grid:hover {
    overflow: visible;
}

.type {
    position: relative;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    background-color: #CCFFCC;
    text-align: center;
    white-space: nowrap;
    /*overflow: hidden;*/
    font-size: xx-small;
    user-select: none;
}

.type_label {
    width: 100%;
    overflow: hidden;
}

.type_label:hover {
    overflow: visible;
}


.entity_pane {
    position: absolute;
    top:-10px;
    text-align: center;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

.entity {
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px; /* CSS3 */
    -moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px;  /* Safari,Chrome */
    width: 6px;
    height: 6px;
    background-color: #cccccc;
}

.entity:hover {
    background-color: #999999;
}

.entity.ui-selecting {
    background-color: #777777;
}

.entity.ui-selected {
    background-color: #555555;
}

.error {
    background-color: #ff0000;
}

.pallet {
    border: solid 2px #333333;
    background-color: rgba(200,255,255,0.9);
    width: auto;
    margin: 0px;
    padding: 0px;
    font-size: xx-small;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 250;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pallet table, tr, th, td {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-collapse: collapse;
    border-width:1px;
    border-color:#AAAAAA;
}

.about {
    border: solid 4px #aaaa88;
    background-color: rgba(255,255,225,1.0);
    width: 400px;
    padding: 4px;
    z-index: 255;
    font-size: small;
}

.help {
    border: solid 4px #aaaa88;
    background-color: rgba(255,255,225,1.0);
    width: 400px;
    padding: 4px;
    z-index: 255;
    font-size: small;
}

.pallet th {
    width:auto;
}

.entity_type {
    opacity:0.8;
}

.entity_type:hover {
    opacity:1;
}

#notice {
    position: static;
    width: 160px;

    display: none;
    border: 1px solid #aaaa55;
    padding: 5px;
    margin: 2px 0px;
    background-color: #ffdddd;
    font-style: italic;
    font-size: small;
}

.entity_type_radio {
    cursor: pointer;
}

.entity_type_label {
    cursor: pointer;
}

span.Sentence {
    display: block;
    border: 1px solid gray;
    margin-top: 20px;
    padding-top: 20px;
}

#widgets {
    display:none;
}

.control {
    font-size: x-small;
}

._jsPlumb_endpoint {
    z-index: 0;
}

._jsPlumb_connector {
    opacity:0.6;
    z-index: 0;
}

._jsPlumb_overlay {
    display:block;
    white-space:nowrap;
    font-size:x-small;
    background-color:yellow;
    opacity:0.6;
    z-index: 0;
}

._jsPlumb_connector._jsPlumb_hover {
    opacity: 1;
    z-index: 1;
}

._jsPlumb_overlay._jsPlumb_hover {
    opacity: 1;
    z-index: 2;
}

/*== Elements inside the textae_control ==*/
.textae-control__title {
    margin: 0px 10px 3px 1px;
    font-weight:bold;
    text-shadow: 2px 2px 5px #555555;
}

.textae-control__title a {
    text-decoration: none;
}

.textae-control__icon-bar {
    margin: 0 10px;
    padding: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.separator {
    display: inline-block;
    margin: 3px 2px 2px 2px;
    height: 10px;
    border: 2px solid #AAAADD;
}

.textae-control__icon-bar__icon {
    display: inline-block;
    cursor: pointer;
    border: solid 0px #ff0000;
    height: 16px;
    width: 16px;
    text-align: right;
    vertical-align: top;
    font-size: x-small;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: transparent;
    margin: 2px 3px 0px 3px;
}

.textae-control__icon-bar__icon--disabled {
    cursor: auto;
    opacity: 0.3;
}

.textae-control__icon-bar__icon--pushed {
    cursor: auto;
    -moz-box-shadow:    inset 1px 1px 3px #000000;
    -webkit-box-shadow: inset 1px 1px 3px #000000;
    box-shadow:         inset 1px 1px 3px #000000;
}

.textae-control__icon-bar__read-button {
    background: url("../images/btn_read_16.png");
}

.textae-control__icon-bar__write-button {
    background: url("../images/btn_write_16.png");
}

.textae-control__icon-bar__undo-button {
    background: url("../images/btn_undo_16.png");
    text-align: right;
}

.textae-control__icon-bar__redo-button {
    background: url("../images/btn_redo_16.png");
    text-align: left;
}

.textae-control__icon-bar__replicate-button {
    background: url("../images/btn_replicate_16.png");
}

.textae-control__icon-bar__replicate-auto-button {
    background: url("../images/btn_replicate_auto_16.png");
}

.textae-control__icon-bar__entity-button {
    background: url("../images/btn_denote_16.png");
}

.textae-control__icon-bar__pallet-button {
    background: url("../images/btn_pallet_16.png");
}

.textae-control__icon-bar__new-label-button {
    background: url("../images/btn_new_label_16.png");
}

.textae-control__icon-bar__delete-button {
    background: url("../images/btn_delete_16.png");
}

.textae-control__icon-bar__copy-button {
    background: url("../images/btn_copy_16.png");
}

.textae-control__icon-bar__paste-button {
    background: url("../images/btn_paste_16.png");
}

.textae-control__icon-bar__help-button {
    background: url("../images/btn_help_16.png");
}

.textae-control__icon-bar__about-button {
    background: url("../images/btn_about_16.png");
}
