#textae_container {
    position:static;
    left: 0px;    
    border: 1px solid black;
    font-family: verdana, arial, helvetica, sans-serif;
}

#header {
    width: 65em;
    height: 20px;
    padding: 0px;
    border-left: 5px solid #555588;
    opacity: 0.9;

    background-color: #BBBBEE;
    /* fallback (Opera) */
    background: #BBBBEE;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #BBBBEE, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#BBBBEE), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#BBBBEE', EndColorStr='#FFFFFF', GradientType=1);
}

#title {
    display: inline-block;
    margin-left: 1px;
    margin-right: 10px;
    font-weight:bold;
    text-shadow: 2px 2px 5px #555555;
}

#title a {
    text-decoration: none;
}

.icon_bar {
    display: inline-block;
    margin: 0 10px;
    padding: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.separator {
    display: inline-block;
    margin: 2px;
    height:100%;
    border: 2px solid #AAAADD;
}

.icon {
    display: inline-block;
    cursor: pointer;
    border: solid 0px #ff0000;
    height: 16px;
    width: 16px;
    text-align: right;
    vertical-align: top;
    font-size: x-small;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: transparent;    
}

.icon.disabled {
    cursor: auto;
    opacity: 0.3;
}

.icon.pushed {
    cursor: auto;
    -moz-box-shadow:    inset 1px 1px 3px #000000;
    -webkit-box-shadow: inset 1px 1px 3px #000000;
    box-shadow:         inset 1px 1px 3px #000000;
}

#btn_read {
    background: url("../images/btn_read_16.png");
}

#btn_write {
    background: url("../images/btn_write_16.png");
}

#btn_undo {
    background: url("../images/btn_undo_16.png");
    text-align: right;
}

#btn_redo {
    background: url("../images/btn_redo_16.png");
    text-align: left;
}

#btn_replicate {
    background: url("../images/btn_replicate_16.png");
}

#btn_replicate_auto {
    background: url("../images/btn_replicate_auto_16.png");
}

#btn_entity {
    background: url("../images/btn_denote_16.png");
}

#btn_pallet {
    background: url("../images/btn_pallet_16.png");
}

#btn_new_label {
    background: url("../images/btn_new_label_16.png");
}

#btn_delete {
    background: url("../images/btn_delete_16.png");
}

#btn_copy {
    background: url("../images/btn_copy_16.png");
}

#btn_paste {
    background: url("../images/btn_paste_16.png");
}

#btn_help {
    background: url("../images/btn_help_16.png");
}

#footer {
    opacity: 0.9;
    width: 65em;
    height: 20px;

    background-color: #DDDDFF;
    /* fallback (Opera) */
    background: #DDDDFF;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #DDDDFF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#DDDDFF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDFF', EndColorStr='#FFFFFF', GradientType=1);
}

#message {
    margin-left: 10px;
    font-style:italic;
    color:gray;
}

#body {
    margin: 4px;
}

#text_box {
    display: inline;
    line-height: 600%;
    /*background-color: rgba(255,255,255,0.5);*/
}

.block {
    display: block;
    border-style: solid;
    border-color: #656565;
    border-width: 1px 1px 1px 20px;
    background-color: rgba(255,255,255,0.7);
    margin:2px;
    padding:2px;
}

.block:hover {
    background-color: rgba(245,245,245,0.7);
}

.block.selected {
    background-color: rgba(235,235,235,0.7);
}
.block:before {
    float:left;
    position:absolute;
    margin-left:-11px;
    content: attr(type);
    color: white;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}


.span {
    display:inline;
    border-style: solid;
    border-color: #656565;
    border-width: 1px 0px 1px 0px;
    background-color: rgba(100,100,215,0.5);
    white-space: pre;
}

.span:hover {
    background-color: #8888CC;
    background-color: rgba(130,130,200,0.7);

}

.span.selected {
    background-color: rgba(88,88,0,0.6);
    color: #DDDDDD;
    border-width: 1px 0px 1px 0px;
}

.entity_pane {
    border: 1px solid #888855;
    padding: 1px;
    overflow: hidden;
}

.entity_pane:hover {
    overflow: visible;
}

.entity {
    border-radius: 3px; /* CSS3 */
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px;  /* Safari,Chrome */
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: #CCFFCC;
    font-size: xx-small;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

.entity:hover {
    background-color: #999999;
}

.entity.ui-selecting {
    background-color: #999999;
}


.entity.ui-selected {
    background-color: #555555;
}

.error {
    background-color: #ff0000;
}

.pallet {
    border: solid 2px #333333;
    background-color: rgba(200,255,255,0.9);
    width: auto;
    margin: 0px;
    padding: 0px;
    font-size: xx-small;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 250;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pallet table, tr, th, td {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-collapse: collapse;
    border-width:1px;
    border-color:#AAAAAA;
}

#help {
    border: solid 4px #aaaa88;
    background-color: rgba(255,255,225,1.0);
    width: 400px;
    padding: 4px;
    z-index: 255;
    font-size: small;
}

.pallet th {
    width:auto;
}

.entity_type {
    opacity:0.8;
}

.entity_type:hover {
    opacity:1;
}

#notice {
    position: static;
    width: 160px;

    display: none;
    border: 1px solid #aaaa55;
    padding: 5px;
    margin: 2px 0px;
    background-color: #ffdddd;
    font-style: italic;
    font-size: small;
}

.entity_type_radio {
    cursor: pointer;
}

.entity_type_label {
    cursor: pointer;
}

span.Sentence {
    display: block;
    border: 1px solid gray;
    margin-top: 20px;
    padding-top: 20px;
}

#widgets {
    display:none;
}