html, body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

a {
    color: black;
}

#header_area {
    position: fixed;
    top: 0px;
    display: block;
    opacity: 0.9;
    width: 65em;
    height: 20px;
    padding: 2px;
    border-left: 5px solid #555588;

    background-color: #BBBBFF;
    /* fallback (Opera) */
    background: #BBBBFF;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #BBBBFF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#BBBBFF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#BBBBFF', EndColorStr='#FFFFFF', GradientType=1);
}

#title {
    font-weight:bold;
    text-shadow: 2px 2px 5px #555555;
}

#notice {
    margin-left: 10px;
    font-style:italic;
    color:gray;
}

#document_frame {
    margin: 5px;
    margin-top: 24px;
    margin-left: 180px;
    padding: 5px;
    display: block;
    border: 1px solid black;

}

#control_area {
    position: fixed;
    top: 24px;
    float:left;
    border: 1px solid #888855;
    background-color: #eeeebb;
    padding: 2px;
}


/* marked text area */
#doc_area  {
    margin: 0px;
    padding: 0px;
    line-height: 600%;
    background-color: #ffffff;
}

#ins_area {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    font-weight: bold;
}

#rel_base_area {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

/*relation_area */
#rel_area {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    display: block;
    /*float: left;*/
    background-color: #cccccc;
}

#doc_area span {
    border-style: dashed;
    border-color: #999999;
    border-width: thin;
}

#doc_area span:hover {
    border-style: solid;
    border-color: #000066;
    border-width: thin;
}

#doc_area span.selected {
    display: inline;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}


/* annotaion area */
#anno_area {
    position: absolute;
    left: 530px;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    /*float: left;*/
    background-color: #cccccc;

    width: 230px;
}


/*
* selected insatnce modification
*/
#ins_area .instance {
    background-color: #cccccc;
    text-align: center;
}

#ins_area .instance.selected {
    background-color: #555555;
}

div.instance {
    border-radius: 5px; /* CSS3 */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px;  /* Safari,Chrome */
    border: 2px solid;     /* 枠線の装飾 */
}

#clone_area {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.clone_span {
    border: 2px solid #000000;
    opacity:0;
}

.clone_span:hover {
    opacity:1;
}

.clone_instance {
    background-color: #000000;
    opacity:0;
}

.clone_instance:hover {
    opacity:1;
}

.modification {
    font-size: large;
    font-color: #555555;
}

.modification.selected {
    font-size: x-large;
    font-color: #000000;
}


.tmp_hide {
    opacity: 0.5;
}


#undo_btn {
    cursor: pointer;
    opacity:0.3;
}

#redo_btn {
    cursor: pointer;
    opacity:0.3;
}

#multiple_btn {
    opacity: 0.3;
}

.removeBtn {
    display: none;
}


.error {
    background-color: #ff0000;
}


table.palette {
    margin: 0 auto;
    border-spacing: 20px 2px;
}


.type_show_area {
    position: static;
    width: 160px;

    display: block;
    border: 1px solid #aaaa55;
    padding: 5px;
    margin: 2px 0px;

    background-color: #ffffdd;
    font-size: small;
}

.type_show_area th {
    text-align: left;
    font-size: small;
    font-weight: bold;
}

#src_area {
    margin-left: 0px;
    display: none;
}

.dialog h1 {
    display: block;
    font-size: medium;
    font-weight: bold;
    margin: 0px;
    padding: 2px;
    color: white;
    background-color: #555500;
}

#save_dialog {
    z-index: 2147483647;
    position: absolute;
    top:60px;
    left:50px;
    display: none;
    width: 500px;
    height: 100px;
    padding: 0px;
    border: 2px #000033 solid;
    background-color: #ffffff;
}

#save_area {
    margin-top: 20px;
    float: right;
}

#load_dialog {
    z-index: 2147483647;
    position: absolute;
    top:60px;
    left:50px;
    display: none;
    width: 500px;
    height: 100px;
    padding: 0px;
    border: 2px #000033 solid;
    background-color: #ffffff;
}

#load_area {
    margin-top: 20px;
    float: right;
}

#doc_area span.source_selected {
    display: inline;
    border-style: solid;
    border-color: #0000dd;
    border-width: thin;
}

span.Sentence {
    display: block;
    border: 1px solid gray;
    margin-top: 20px;
    padding-top: 20px;
}

.label {
    display:block;
    white-space:nowrap;
    font-size:small;
    background-color:yellow;
    opacity:0.7;
}

.label:hover {
    opacity:1;
}
