{
  "rules": {
    "no-unused-vars": "off"
  },
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "jsPlumb": true
  },
  "parserOptions": {
    "sourceType": "module"
  } 
}
