{
  "rules": {
    "no-unused-vars": "off",
    "one-var": ["warn", "never"],
    "no-var": "warn",
    "prefer-const": "warn",
    "object-shorthand": ["warn", "always"],
    "prefer-arrow-callback": "warn"
  },
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "jsPlumb": true
  },
  "parserOptions": {
    "sourceType": "module"
  } 
}
