{
  "rules": {
    "no-unused-vars": "off",
    "one-var": ["error", "never"],
    "no-var": "error",
    "prefer-const": "error",
    "object-shorthand": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "prefer-object-spread": "error",
    "prefer-template": "error",
    "import/no-unresolved": "error",
    "unused-imports/no-unused-imports": "error"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "jsPlumb": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion":  2018
  },
  "plugins": [
    "import",
    "unused-imports"
  ]
}
