node_modules/
*.dev_data
src/lib/bundle.js
src/vender/jquery/
src/vender/toastr/
src/vender/underscore/
src/lib/css/textae.css
src/lib/css/textae-control.css
src/lib/css/textae-editor.css
src/lib/css/textae-editor-dialog.css
src/lib/css/textae-editor-type-pallet.css
