
.textae-editor {
    position: relative;
    top: 22px;
    left: 0px;
/*    height: 600px;
    overflow: auto;
*/    border: 1px solid black;
    font-family: verdana, arial, helvetica, sans-serif;
}

.textae-editor__body__text-box {
    display: inline;
    line-height: 400%;
}

.textae-editor__body__annotation_box {
    position: absolute;
    top: 0px;
    left: 0px;
}

.textae-editor__footer {
    position: relative;
    bottom: 0px;

    width: 90%;
    height: 20px;
    opacity: 0.9;

    background-color: #DDDDFF;
    /* fallback (Opera) */
    background: #DDDDFF;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #DDDDFF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#DDDDFF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDFF', EndColorStr='#FFFFFF', GradientType=1);

    overflow-y: hidden;
}

.textae-editor__footer__message {
    margin-left: 10px;
    font-style:italic;
    color:gray;
}

.textae-editor__span {
    display: inline;
    border-style: solid;
    border-color: #656565;
    border-width: 1px 0px 1px 0px;
    background-color: rgba(100,100,215,0.5);
    white-space: pre;
}

.textae-editor__span:hover, .textae-editor__span.ui-selected {
    background-color: rgba(255,200,100,0.9);
    color: #0000DD;
}

.textae-editor__grid {
    border-width: 0px 1px;
    border-style: solid;
    border-color: #DDDDAA;
    padding: 1px;
    overflow: visible;
}

.textae-editor__type {
    position: relative;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    font-size: small;
}

.textae-editor__type_label {
    width: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textae-editor__type_label:hover {
    overflow: visible;
}

.textae-editor__entity_pane {
    position: absolute;
    top:-10px;
    text-align: center;
}

.textae-editor__entity {
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    background-color: lightblue;
}

.textae-editor__entity:hover, .textae-editor__entity.ui-selected {
    background-color: yellow;
    height: 9px;
}

.textae-editor__entity-pallet {
    border: solid 2px #333333;
    background-color: rgba(200,255,255,0.9);
    width: auto;
    margin: 0px;
    padding: 0px;
    font-size: xx-small;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 250;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textae-editor__entity-pallet table, .textae-editor__entity-pallet tr, .textae-editor__entity-pallet th, .textae-editor__entity-pallet td {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-collapse: collapse;
    border-width:1px;
    border-color:#AAAAAA;
}

.textae-editor__entity-pallet table {
    width: 100%;
}

.textae-editor__entity-pallet td {
    padding: 5px;
}

.textae-editor__entity-pallet th {
    width:auto;
}

.textae-editor__entity-pallet__entity-type {
    opacity:0.8;
}

.textae-editor__entity-pallet__entity-type:hover {
    opacity:1;
}

.textae-editor__entity-pallet__entity-type__radio {
    cursor: pointer;
}

.textae-editor__entity-pallet__entity-type__label {
    cursor: pointer;
}

._jsPlumb_endpoint {
    z-index: 0;
}

._jsPlumb_connector {
    opacity:0.6;
    z-index: 0;
}

._jsPlumb_overlay {
    display:block;
    white-space:nowrap;
    font-size:x-small;
    background-color:yellow;
    opacity:0.6;
    z-index: 0;
}

._jsPlumb_connector._jsPlumb_hover {
    opacity: 1;
    z-index: 1;
}

._jsPlumb_overlay._jsPlumb_hover {
    opacity: 1;
    z-index: 2;
}
