<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/pitch.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/docs.css" />
	<script src="https://use.fontawesome.com/d09f0623af.js"></script>
	<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
	<script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
</head>

<body>
	<div id="canvas">
		<div id="header" class="frame">
			{% include _header.html %}
		</div>

		<div id="main">
			{{ content }}
		</div>

		<div id="footer" class="frame">
			{% include _footer.html %}
		</div>
	</div>
</body>

</html>
